In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/clean_energy_data.csv", index_col=0, parse_dates=True)
df.head()

                      AEP_MW  hour
Datetime
2004-12-31 01:00:00  13478.0     1
2004-12-31 02:00:00  12865.0     2
2004-12-31 03:00:00  12577.0     3
2004-12-31 04:00:00  12517.0     4
2004-12-31 05:00:00  12670.0     5

In [2]:
df["hour"] = df.index.hour
df["day"] = df.index.day
df["month"] = df.index.month
df["weekday"] = df.index.weekday
df["is_weekend"] = df["weekday"].apply(lambda x: 1 if x >= 5 else 0)

In [3]:
df["lag_1"] = df["AEP_MW"].shift(1)
df.dropna(inplace=True)
df.head()

                      AEP_MW  hour  day  month  weekday  is_weekend    lag_1
Datetime
2004-12-31 02:00:00  12865.0     2   31     12        4           0  13478.0
2004-12-31 03:00:00  12577.0     3   31     12        4           0  12865.0
2004-12-31 04:00:00  12517.0     4   31     12        4           0  12577.0
2004-12-31 05:00:00  12670.0     5   31     12        4           0  12517.0
2004-12-31 06:00:00  13038.0     6   31     12        4           0  12670.0

In [4]:
df.to_csv("../data/processed/feature_engineered_data.csv")